@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using VeriTakipMvc.ViewNodels
@model IEnumerable<DeviceViewModel>
<head>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            ></script>
</head>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Cihaz Listesi</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>DeviceId</th>
                        <th>Device Name</th>
                        <th>DeviceLocation</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <input type="hidden" id="cookieValue" value="@ViewBag.cookieValue" />
                <tbody>
                    @foreach (var item in Model)
                    {
                        
                    <tr data-widget="expandable-table" aria-expanded="false">
                        <td>@item.DeviceId</td>
                        <td>@item.DeviceName</td>
                        <td>@item.DeviceGroup</td>
                        <td>@item.IsDeviceOnAlert</td>
                    </tr>
                    <tr class="expandable-body d-none">
                        @if (item.TemperatureC != null && item.RelayStatus != null)
                            {
                            <tr>
                                <td>@item.TemperatureC</td>
                                <td>@item.RelayStatus</td>
                            </tr>
                            }
                       <td></td>
                            <td >
                     
@*<button type="button" id="detailsButton-@item.DeviceId" class="btn btn-block btn-primary details-button">Detay Görüntüle</button>*@
                        <a asp-action="DeviceDetail" class="btn btn-block btn-primary details-button" asp-route-id="@item.DeviceId">Detay</a>

                            </td>
                            <td >
                        <a asp-action="EditDevice" class="btn btn-block btn-warning" asp-route-id="@item.DeviceId"><i class="fa fa-marker"></i></a>
                            </td>
                            <td >

                      <form method="post" asp-action="Delete" asp-route-id="@item.DeviceId">
        <input type="hidden" name="deviceId" value="@item.DeviceId" />
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash" onclick="return confirm('Are you sure you want to delete this?')"></i></button>
    </form>
                  </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>
<script>
    //$(document).ready(function () {
    //    // Detay görüntüle butonuna click event listener ekle
    //    $('table').on('click', 'button.btn-primary', function () {
    //        var deviceId = $(this).closest('tr').data('device-id');
    //        var token = getCookie('jwtToken');
    //        var apiUrl = 'https://localhost:5001/api/device/details/' + deviceId;

    //        // Ajax isteği gönder
    //        $.ajax({
    //            url: apiUrl,
    //            type: 'GET',
    //            xhrFields: {
    //                withCredentials: true
    //            },
    //            success: function (data) {
    //                console.log(data);
    //            },
    //            error: function (xhr, status, error) {
    //                console.log(status);

    //            }
    //        });

    var cookieValue = $("#cookieValue").val();

$(document).on("click", ".details-button", function () {
        var deviceId = $(this).attr("id").split("-")[1];
            var token = 0; // Önce önceden kaydettiğimiz token'ı alıyoruz.
        console.log(deviceId);
            $.ajax({
                type: 'POST',
            url: 'https://localhost:44301/api/Home/TokenControl?com=' + deviceId, // API'nin adresini buraya yazabilirsin.
                headers: {
                    'Authorization': 'Bearer ' + cookieValue // API'ye yetkilendirme bilgisini gönderiyoruz.
                },
                data: { deviceId: deviceId },
                success: function (result) {
                    // İşlem başarılı olursa burada yapılacak işlemler.
                    console.log(result);
                },
                error: function (xhr, status, error) {
                    // İşlem başarısız olursa burada yapılacak işlemler.
                    console.log(xhr.responseText);
                }
            });
        });


    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                console.log(c.substring(name.length, c.length));
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    

</script>