@using VeriTakipMvc.ViewNodels;
@model CompanyViewModel


<head>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="col-sm-6"><h3 class="card-title"><h3>Company List</h3></div>
            <div class="col-sm-3 offset-sm-10">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                    Şirket Ekle
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form asp-controller="Admin" asp-action="AddCompany" method="post" enctype="multipart/form-data">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Yeni Şirket</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label asp-for="Company.Companyname">Company Name:</label>
                                        <input asp-for="Company.Companyname" type="text" class="form-control form-control-border" name="Companyname" id="exampleInputBorder" placeholder="CompanyName" value="">

                                        <label asp-for="Company.CompanyEmail">Company Email:</label>
                                        <input asp-for="Company.CompanyEmail" type="text" class="form-control form-control-border" name="CompanyEmail" id="exampleInputBorder" placeholder="Company Email" value="">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>CompanyId</th>
                        <th>Company Name</th>
                        <th>Company Email</th>
                    </tr>
                </thead>
                <input type="hidden" id="cookieValue" value="@ViewBag.cookieValue" />
                <tbody>
                    @foreach (var company in Model.Companies)
                    {

                        <tr data-widget="expandable-table" aria-expanded="false">
                            <td>@company.CompanyId</td>
                            <td>@company.Companyname</td>
                            <td>@company.CompanyEmail</td>
                        </tr>
                        <tr class="expandable-body d-none">
                    <td></td>
                    <td>

                                @*<button type="button" id="detailsButton-@item.DeviceId" class="btn btn-block btn-primary details-button">Detay Görüntüle</button>*@
                                <a asp-action="CompanyDetail" class="btn btn-block btn-primary details-button" asp-route-id="@company.CompanyId">Detay</a>

                    </td>
                    <td>
                                <a asp-action="EditCompany" class="btn btn-block btn-warning" asp-route-id="@company.CompanyId"><i class="fa fa-marker"></i></a>
                    </td>
                    <td>

                                <form method="post" asp-action="DeleteCompany" asp-route-id="@company.CompanyId">
                                    <input type="hidden" name="deviceId" value="@company.CompanyId" />
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash" onclick="return confirm('Are you sure you want to delete this?')"></i></button>
                        </form>
                    </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>
<script>
    //$(document).ready(function () {
    //    // Detay görüntüle butonuna click event listener ekle
    //    $('table').on('click', 'button.btn-primary', function () {
    //        var deviceId = $(this).closest('tr').data('device-id');
    //        var token = getCookie('jwtToken');
    //        var apiUrl = 'https://localhost:5001/api/device/details/' + deviceId;

    //        // Ajax isteği gönder
    //        $.ajax({
    //            url: apiUrl,
    //            type: 'GET',
    //            xhrFields: {
    //                withCredentials: true
    //            },
    //            success: function (data) {
    //                console.log(data);
    //            },
    //            error: function (xhr, status, error) {
    //                console.log(status);

    //            }
    //        });

    var cookieValue = $("#cookieValue").val();

    $(document).on("click", ".details-button", function () {
        var deviceId = $(this).attr("id").split("-")[1];
        var token = 0; // Önce önceden kaydettiğimiz token'ı alıyoruz.
        console.log(deviceId);
        $.ajax({
            type: 'POST',
            url: 'https://veritakip20230128141801.azurewebsites.net/api/Home/TokenControl?com=' + deviceId, // API'nin adresini buraya yazabilirsin.
            headers: {
                'Authorization': 'Bearer ' + cookieValue // API'ye yetkilendirme bilgisini gönderiyoruz.
            },
            data: { deviceId: deviceId },
            success: function (result) {
                // İşlem başarılı olursa burada yapılacak işlemler.
                console.log(result);
            },
            error: function (xhr, status, error) {
                // İşlem başarısız olursa burada yapılacak işlemler.
                console.log(xhr.responseText);
            }
        });
    });


    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                console.log(c.substring(name.length, c.length));
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }



</script>